.settings_panel {
  @apply absolute bottom-0 top-[100%] left-[-100%] w-full max-w-[620px] min-h-[100vh] h-[100%] bg-black text-white pt-[calc(4rem_+_12px)] pb-12 flex flex-col;
  transition: all 0.4s ease-in;

  form {
    @apply max-h-[calc(100vh-228px)];
  }
  &[class*='active'] {
    @apply left-0 top-0;
    transition: all 0.4s ease-out;
  }
}

.settings__header {
  @apply flex items-center justify-between border-b-[1px] border-white/30 px-8 md:px-16 pb-16;
  h2 {
    @apply flex items-center text-3xl font-bold capitalize;
    font-variant: small-caps;
  }
  .settings_icon {
    @apply mr-4;
  }
}
